.cart {
  display: flex;
  flex-direction: column;
  margin-top: 2.2rem;
  padding: 2rem;
  width: 44%;
  box-shadow: 2px 2px 5px #000;
  align-items: center;
  height: 40em;
}
.main-cart {
  display: flex;
  height: 95vh;
  justify-content: center;
}
.cart h1 {
  margin-bottom: 2.4rem;
  font-weight: bold;
  font-size: 4rem;
}
.cart .cart-body {
  width: 100%;
  height: 80%;
}
.cart .cart-body .set {
  display: flex;
  justify-content: space-around;
}
.cart .cart-body span {
  font-weight: 300;
  font-size: 1.6rem;
}
.cart button {
  background: rgb(17, 24, 39);
  border-radius: 5px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  opacity: 0.9;
  width: 8rem;
  padding-bottom: 0.4rem;
  padding-top: 0.4rem;
  color: #fff;
}
.cart button:hover {
  opacity: 1.4;
  transform: scale(1.025);
}
.cart .cart-foot {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  justify-content: space-evenly;
}
