.no-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.no-page-container h1 {
  font-size: 5em;
  color: #333;
}

.no-page-container p {
  font-size: 1.5em;
  color: #777;
  text-align: center;
}
