.welcome {
  display: flex;
  align-items: center;
  width: auto;
  font-family: "roboto";
  justify-content: space-evenly;
}

.left {
  position: absolute;
  left: 5%;
  top: 35%;
}

.HERO-1 {
  font-size: 4rem;
}

.welcome-text {
  font-size: 1.2rem;
}

.right {
  position: absolute;
  right: 30%;
  top: 35%;
}

.button-customer,
.button-org {
  background: #2c2c2c;
  padding: 0.8rem;
  font-size: x-large;
  width: 16rem;
  cursor: pointer;
  color: #fff;
  margin: 1rem;
  border-radius: 0.4rem;
}
